@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-gradient-to-b from-theme-pink to-theme-yellow;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-theme-pink/70;
}

@layer base {
  body {
    @apply tracking-wide text-white bg-theme-black border-theme-border ring-theme-border;
  }
}

@layer utilities {
  .gradient {
    @apply transition-all bg-gradient-to-r from-theme-pink to-theme-yellow hover:from-theme-pink/80 hover:to-theme-yellow/80;
  }
  .box {
    @apply max-w-[1400px] mx-auto px-4;
  }
}
.fly {
  animation: rocket 25s linear infinite;
}

@keyframes rocket {
  0%,
  100% {
    transform: translate(30px, -35px);
  }
  50% {
    transform: translate(0, 0);
  }
}
